@inherits MainLayoutBase


    <Container>
        <div class=" align-items-center">
            <Jumbotron>
                <div class="container-fluid">
                    <div class="row justify-content-center h-100">
                        <div class="d-flex align-items-center" style="color:black;text-align: center;">
                            <div class="container">
                                <img src="/images/logo.png" />
                            </div>
                        </div>
                    </div>
                </div>
                @Body

            </Jumbotron>
        </div>
    </Container>