@page "/ResetPasswordWithCode"
@page "/ResetPasswordWithCode/{Email}"
@page "/ResetPasswordWithCode/{Email}/{Code}"
@page "/ResetPasswordWithCode/{Email}/{FromMember:bool}"
@layout Shared.LoginLayout
@inherits ResetPasswordWithCodeBase


<h1 class="h3 mb-3 font-weight-normal">Wachtwoord wijzigen</h1>
@if (FromMember)
{
    <div class="alert alert-info">
        U krijgt binnen 5 minuten een mail met de restcode, om uw wachtwoord te wijzigen.
    </div>
}
@if (IsReseting)
{
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Bezig met resettten...</span>
    </div>
}
else if (ResetResult != null)
{
    if (ResetResult.IsError)
    {
        <div class="alert alert-warning" role="alert">
            @if (ResetResult.ErrorType == Veg.App.Pages.ConfirmEmailErrorType.NoConnection)
            {
                @("Kan geen verbinding maken met authenticatieserver");
            }
            else if (ResetResult.ErrorType == Veg.App.Pages.ConfirmEmailErrorType.ModelError)
            {
                <ul>
                    @foreach (var error in ResetResult.Errors)
                    {
                        <li>@error.Description</li>
                    }
                </ul>
            }
        </div>
    }
}
<form @onsubmit="ResetExecuteAsync">
    <label for="inputEmail" class="sr-only">Emailadres</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Emailadres" required="" autofocus="" @bind="Email" disabled=@IsReseting />

    <label for="inputCode" class="sr-only">Code</label>
    <input type="text" id="inputCode" class="form-control" placeholder="Code" required="" @bind="Code" disabled=@IsReseting />

    <label for="Password" class="sr-only">Nieuw wachtwoord</label>
    <input type="password" id="Password" class="form-control" placeholder="Wachtwoord" required="" @bind="Password" disabled=@IsReseting />

    <label for="confirmPassword" class="sr-only">Bevestig wachtwoord</label>
    <input type="password" id="confirmPassword" class="form-control" placeholder="Wachtwoord (bevestiging)" required="" @bind="PasswordComfirm" disabled=@IsReseting />

    <button class="btn btn-lg btn-raised btn-primary btn-block" type="submit">Reset wachtwoord</button>
</form>

