@page "/ResetPassword"
@page "/ResetPassword/{Email}"
@layout Shared.LoginLayout
@inherits ResetPasswordBase


<h1 class="h3 mb-3 font-weight-normal">Wachtwoord vergeten</h1>
@if (IsReseting)
{
<div class="spinner-border text-primary" role="status">
    <span class="sr-only">Bezig met resettten...</span>
</div>
}
else if (ResetResult != null)
{
    if (ResetResult.IsError)
    {
<div class="alert alert-warning" role="alert">
    @if (ResetResult.ErrorType == Veg.App.Pages.ConfirmEmailErrorType.NoConnection)
            {
    @("Kan geen verbinding maken met authenticatieserver");
            }
</div>
    }
}
<form @onsubmit="ResetExecuteAsync" >
    <label for="inputEmail" class="sr-only">Emailadres</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Emailadres" required="" autofocus="" @bind="Email" disabled=@IsReseting />
    <div class="text-right m-2">
        <NavLink href="@("ResetPasswordWithCode/" + Email)">
            Reset code invullen
        </NavLink>
    </div>

    <button class="btn btn-lg btn-raised btn-primary btn-block" type="submit">Reset wachtwoord</button>
</form>

